.headerSection{
    background-image: url(../../images/header-back.png);
    background-position: right 0 top -49px;
    background-size: contain;
    background-repeat: no-repeat;
}

.mainSectionBtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-top: 40px;
    
    width: 150px;
    height: 32px;
}

.priceSection {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    height: 800px;
    background-image: url(../../images/background_price_section.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    font-family: 'Roboto', sans-serif;
    background: #E7ECFF;
    height: 220px;
    padding-top: 60px;
}

.footerMenu {
    color: #929ECC;
}

.headerBtn {
    height: 36px;
    width: 189px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    margin-right: 30px;
}

.priceBtn {
    height: 32px;
    width: 189px;

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.footerBtn {
    height: 26px;
    width: 109px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.imageOne {
    background-image: url(../../images/section_one.png);
    background-repeat: no-repeat;
    background-position: top 110px left 65px;
    height: 570px;
}
.imageTwo {
    background-image: url(../../images/section_two.png);
    background-repeat: no-repeat;
    background-position: top 110px left 65px;
    height: 570px;
}
.imageThree {
    background-image: url(../../images/section_three.png);
    background-repeat: no-repeat;
    background-position: top 110px left 65px;
    height: 570px;
}